:root {
  /* Color */
  /* Size */
  --spacing: 18px;
  --spacing-big: 40px;
  --spacing-small: 6px;

  /* Font Size */
  --font-midium: 15px;
  --font-small: 12px;
  --font-micro: 10px;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Up next */
header {
  margin-top: var(--spacing);
  padding: 0 var(--spacing-big);
}

.item {
  display: flex;
}

.item .image {
  flex-basis: 40%;
  margin-right: 13px;
}

.item .image img {
  width: 100%;
}

.item .itemInfo {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.item .share {
  flex-basis: 5%;
  height: 100%;
}

.item .itemInfo .description {
  font-size: var(--font-midium);
}

.item .itemInfo .maker {
  font-size: var(--font-micro);
}

.item .itemInfo .hits {
  font-size: var(--font-micro);
}
