:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color:  #d49466;
}

/* align-items: center; 애는 잘 모르네 */
body {
  margin: 0;
  font-family: 'Source Sans Pro';
}

/* text-decoration: none; 밑줄이 생기는 것 때문에 추가함 */
a {
  text-decoration: none;
  color: var(--text-color)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--background-color);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

/* 왜 컬러를 곧바로 주지 않지? */
.navbar__logo i {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  color: var(--accent-color);
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

/* flex-direction: column; 아래 밑으로 떨어지게 함 */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }

  /* width: 100%; 너비가 좁으면 얼라인이 적용 안된다 */
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* 마우스 hover 효과를 주기 위한 것 */
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }  

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .navbar__toogleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active{
    display: flex;
  }
}

/* @media screen and (min-width: 320px) {
  .container {
    padding: 5px; 
    background: #140078;
    display: flex;
    height: 10%;
    justify-content: space-between;  
    color: white;
  }
  
  .item {
    width: 40px;
    height: 40px  
  }
  
  .item1 {
    background: #512da8;
    flex-basis: 18%;
  }
  
  .item2 {
    background: #512da8;
    flex-basis: 60%;
  }
  
  .item3 {
    background: #512da8;
    flex-basis: 5%;
  }
  
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
} */